@import 'bulma';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: auto;
}

h1 {
  margin: 1em 0 0 0;
  display: inline-block;
}

.header {
  min-height: 3em;
  background: #eee;
  i {
    float: right;
    margin: .4em;
    // height: 4em;
  }
}

.card {
  margin: 0;
  border-bottom: 5px #ccc;
  width: 100%;
  #list-img {
    width: 15%;
    clip-path: circle(75px at 50% 50%);
  }
  h3 {
    display: inline-block;

  }

}