<h1>ADD VIEW</h1>

<form name="new-contact" ng-submit="add.addContact(contact)">  

  <p class="control has-icon">
    <input class="input" type="text" 
           placeholder="Name" name="name"
           ng-model="contact.name">
    <i class="fa fa-user"></i>
  </p>

  <p class="control has-icon">
    <input class="input" type="email" 
           placeholder="Email" name="email"
           ng-model="contact.email">
    <i class="fa fa-envelope"></i>
  </p>

  <p class="control has-icon">
    <input class="input" type="tel" 
           placeholder="Phone Number" name="phone"
           ng-model="contact.phone">
    <i class="fa fa-phone"></i>
  </p>

  <p class="control has-icon">
    <input class="input" type="text" 
           placeholder="Location" name="location"
           ng-model="contact.location">
    <i class="fa fa-globe"></i>
  </p>

  <p class="control has-icon">
    <input class="input" type="text" 
           placeholder="Type Image Url Here" name="image-url"
           ng-model="contact.image-url">
    <i class="fa fa-picture-o"></i>
  </p>

  <p class="control">
    <button class="button is-primary">
      Submit
    </button>
  </p>
</form>